@model List<Pet.Model.Web.OwnerListViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div>
    <div>
       <h2>Cats List</h2> 
    </div>
    @foreach (var owner in Model)
    {
        <div class="roundcorner">
            <h3>@owner.Gender</h3>
            <ul>
                @if (owner.Pets != null)
                {
                    foreach (var pet in owner.Pets)
                    {
                        <li>@pet.Name</li>
                    }
                }
            </ul>
        </div>
    }
</div>